.modal.fade#polkadot-account-list{ 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-dialog-scrollable.modal-dialog-centered.mw-fit-content
    .modal-content
      .modal-header.pb-0.border-0
        %h5.modal-title Select an account
        .btn{ 'aria-label' => 'Close', 'data-bs-dismiss' => '#polkadot-account-list' }
          %b X
      .modal-body
        .card.border-0
          %ul.list
